{% extends "contacts/base.html" %}

{% block content %}
    <h3>Filter by Category</h3></br>
    <div class="filter-header">
    <ul class="category-filter">
        <li><a href="?category=all{% if query %}&q={{ query }}{% endif %}">All</a></li>
        <li><a href="?category=family{% if query %}&q={{ query }}{% endif %}">Family</a></li>
        <li><a href="?category=friends{% if query %}&q={{ query }}{% endif %}">Friends</a></li>
        <li><a href="?category=work{% if query %}&q={{ query }}{% endif %}">Work</a></li>
        <li><a href="?category=other{% if query %}&q={{ query }}{% endif %}">Other</a></li>
    </ul>
    
    <a href="{% url 'profile' %}" class="auth-link">Back to Profile Page</a>
</div>

    <ul class="contact-list">
        {% for contact in contacts %}
            <li>
                <div class="contact-info">
                    {% if contact.profile_picture %}
                        <img src="{{ contact.profile_picture.url }}" 
                             class="contact-thumbnail" 
                             alt="{{ contact.name }}"
                             width="40"
                             height="40">
                    {% endif %}
                    <div>
                        <h3>{{ contact.name }}</h3>
                        <p>{{ contact.phone }} | {{ contact.get_category_display }}</p>
                    </div>
                </div>

                <div class="contact-actions">
                    <a href="{% url 'edit_contact' contact.pk %}">Edit</a>
                </div>
            </li>
        {% empty %}
            <li>No contacts found.</li>
        {% endfor %}
    </ul>

    {% if contacts.paginator.num_pages > 1 %}
        <div class="pagination">
            {% if contacts.has_previous %}
                <a href="?page=1{% if query %}&q={{ query }}{% endif %}{% if category %}&category={{ category }}{% endif %}">First</a>
                <a href="?page={{ contacts.previous_page_number }}{% if query %}&q={{ query }}{% endif %}{% if category %}&category={{ category }}{% endif %}">Previous</a>
            {% endif %}

            <span>Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}</span>

            {% if contacts.has_next %}
                <a href="?page={{ contacts.next_page_number }}{% if query %}&q={{ query }}{% endif %}{% if category %}&category={{ category }}{% endif %}">Next</a>
                <a href="?page={{ contacts.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}{% if category %}&category={{ category }}{% endif %}">Last</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

